.request-consultation {
    background-color: white;
    color: black;
    font-family: Frank Ruhl Libre, serif;
    padding: 13px 25px;
    margin: 10px 90px 0px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.30s, color 0.30s;
}
.request-consultation:hover {
    color:white;
    background-color: black;
}
.request-consultation:active {
    opacity: 0.8;
}